/* front of card info */
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* temp colors */
:root {
  --primary: #03045e;
  --secondary: #00b4d8;
  --dark: #212121;
  --light: #f3f3f3;
  --opacity: rgba(0, 0, 0, 0);
}

.flip-card {
  margin: 1rem auto 0;
  padding: 1rem;
  width: 20rem;
  height: 30rem;
  perspective: 1000px;
  color: white;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.flip-card-inner.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.flip-card-back {
  overflow: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to top right,
      var(--dark),
      var(--light)
  );
  transform: rotateY(180deg);
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.back-text{
  height: 95%;
}
.image-container img{
  width: 100%;
  height: 100%;
}
.image-container{
  position: absolute;
  width: 100%;
  height: 100%;
}

.heading{
font-weight: bold;
}
.info-container-text{
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.info-container{
  text-shadow: #f3f3f3;
  text-align: center;
  position: absolute;
  background-image: linear-gradient(
      to bottom,
      var(--opacity),
      var(--dark)
  );
  
  
}


